{
  "deployment": {
    "name": "api",
    "stack": "node20",
    "type": "advancedio",
    "env_variables": {
      "QUICKML_LLM_ENDPOINT": "https://api.catalyst.zoho.in/quickml/v1/project/<YOUR_PROJECT_ID>/glm/chat",
      "QUICKML_RAG_ENDPOINT": "",
      "QUICKML_RAG_DOCUMENT_ID": "",
      "QUICKML_PROJECT_ID": "<YOUR_PROJECT_ID>",
      "QUICKML_ORG_ID": "<YOUR_ORG_ID>",
      "QUICKML_CLIENT_ID": "<YOUR_SELF_CLIENT_ID>",
      "QUICKML_CLIENT_SECRET": "<YOUR_SELF_CLIENT_SECRET>",
      "QUICKML_REFRESH_TOKEN": "<YOUR_REFRESH_TOKEN>",
      "DEMO_MODE_SECRET": "<CHOOSE_YOUR_OWN_SECRET>"
    },
    "memory": 512
  },
  "execution": {
    "main": "index.js"
  }
}
